.case_container{
  margin: auto 5vh auto auto;
  display: grid;
  height: 88vh;
  width: 110vh;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
  //align-items: center;
}
.player_container{
  position:absolute;
}
