.display-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 70% 30%;
}
.timeline-container {
  height: 100%;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
}
.grid-container {
  height: 100%;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
}
.grid {
  margin: auto;
  width: 960px;
  max-width: 80vw;
  height: 360px;
  max-height: 30vw;
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 33.33% 33.33% 33.34%;
  //align-items: center;
}
.tile-container {
  width: 120px;
  max-width: 10vw;
  height: 120px;
  max-height: 10vw;
}
.empty-tile {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
