.case_container{
  margin: auto;
  display: grid;
  height: 100vh;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  //align-items: center;
}
.tuile{
  position: relative;
  height: 100%;
}
